* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #fff;
    padding: 4px 0;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #FFFFFF;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-right a {
    color: #000000;
    margin-right: 15px;
    font-size: 28px;
    transition: color 0.3s ease;
}

.header-right a:hover {
    color: #FF6442;
    
}

.logo {
    height: 32px;
}

.view-repo-btn {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0px;
    margin-left: auto;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.hero .cta-btn {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -1%;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 5em;
    font-weight: 500;
    letter-spacing: -5px;
    margin-bottom: 20px;
    line-height:100%;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero .get-started-btn {
    background-color: rgb(37, 103, 226);
    color: #fff;
    padding: 24px 40px;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 20px;
    line-height:95%;
    border: none;
    border-radius: 48px;
    cursor: pointer;
}

.hero .get-started-btn:hover {
    background-color: #FF6442;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 40px 0;
}

.file-indexing {
    text-align: left;
}


/* Start - Features */

#features {
    background-color: #ffffff;
    padding: 60px 20px;
    margin: 40px 0;
}

#features h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 40px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 1 column for now */
    gap: 20px; /* Space between grid items */
}

.how-it-works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1 column for now */
}

.feature {
    display: flex;
    align-items: flex-start; /* Align the image and text properly */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Add slight shadow for better visuals */
}

.feature img {
    margin-right: 15px; /* Space between image and text */
    width: 40px;
    height: 40px;
}

.feature-content h3 {
    font-size: 18px;
    color: #FF6442;
    margin-bottom: 10px;
}

.feature-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 0;
    text-align: left;
    max-width: 280px; /* Limit paragraph width */
}

/* End - Features */


.contribute {
    text-align: center;
    padding: 50px 0;
    background-color: #FF6442;
    color: #FFFFFF;
}

.file-indexing h2, .contribute h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.file-indexing p, .contribute p {
    font-size: 1em;
    margin-bottom: 40px;
}

.accounts {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.account {
    max-width: 300px;
    text-align: left;
}

.account img {
    display: block;
    margin: 0 auto 20px;
}

footer {
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px 0;
}

.footer-logo {
    height: 32px;
}

.footer-right {
    text-align: right;
}

footer p {
    font-size: 0.9em;
    color: #777;
}

footer a {
    font-size: 0.9em;
    color: #777;
}

@media (max-width: 768px) {
    .accounts {
        flex-direction: column;
        gap: 20px;
    }

    .hero h1 {
        font-size: 4em;
        font-weight: 500;
        letter-spacing: -4px;
        margin-bottom: 20px;
        line-height:95%;
    }

    .hero p, .file-indexing p, .contribute p {
        font-size: 1em;
    }
}

.terms {
    text-align: left;
    padding: 50px 0;
}

#terms {
    padding: 40px 20px;
    margin: 40px 0;
}

#terms h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

#terms h3 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #FF6442;
}

#terms p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

#terms a {
    color: #FF6442;
    text-decoration: underline;
}

#terms a:hover {
    color: #E55638; /* Darker shade on hover */
}

#terms ul {
    margin-left: 40px; /* Indentation for list */
    list-style-type: disc; /* Standard bullet points */
}

#terms ul li {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

#faq {
    padding: 60px 20px;
    margin: 40px 0;
}

#faq h2 {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    width: 100%;
    background-color: #807f7f;
    color: #fff;
    padding: 15px 20px;
    border: none;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 48px 48px 0px;
}

.faq-question:hover {
    background-color: #FF6442;
}

.faq-answer {
    display: none; /* Initially hidden */
    padding: 20px;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.faq-answer img {
    width: 100%; /* Image fills the width of the container */
    margin-top: 20px;
    border-radius: 8px; /* Rounded corners for the image */
}

/* Icon Styling */
.faq-question i {
    transition: transform 0.3s ease; /* Smooth rotation */
}
